/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2020, 1:32:17 PM
    Author     : Ahmed Hafez
*/
 .ui-row-editor .ui-row-editor-pencil {
        margin-left:8px;
    }
    .ui-datatable .ui-datatable-header {
    border-bottom: 0 none;
    font-size: 17px;
    font-weight: 700;
    color: black;
}
body{
    background-image: url("../images/background-image.jpg");
}
.bg-dark {
    background-color: #4385bd!important;
}
.value {
        font-weight: bold;
    }